@using MellonBank.Models
@model ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<h1>@ViewData["Title"]</h1>

<div class="row">

    <div class="col-md-4">
        <form asp-action="ChangePassword" method="post">
            <h2>@ViewBag.Message</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            

            <div class="form-floating mb-3">
                <input asp-for="CurrentPassword" class="form-control" aria-required="true" placeholder="CurrentPassword"  />
                <label asp-for="CurrentPassword">CurrentPassword Type</label>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="NewPassword" class="form-control" aria-required="true" placeholder="NewPassword" />
                <label asp-for="NewPassword">NewPassword</label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmNewPassword" class="form-control" aria-required="true" placeholder="ConfirmNewPassword" />
                <label asp-for="ConfirmNewPassword">ConfirmNewPassword </label>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Edit</button>
        </form>
